<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我--个人博客平台</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static "blogs/img/favicon.ico" %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'blogs/css/about_me.css' %}">
</head>
<body>
    <div class="header">
        <div class="con">
            <img src="{% static "blogs/img/boke.svg" %}" alt="" class="logo">
            <div class="nav-wrap">
                <li class="nav-item avtive xs_li_07">
                    <a href="{% url 'blogs:index' %}" style="text-decoration: none">首页</a>
                </li>
                <li class="nav-item xs_li_07">
                    <a href="{% url 'blogs:my_blog'%}" style="text-decoration: none" class="myblog">优秀博文</a>
                </li>
                {% if statue == 2 %}
                    <li class="nav-item xs_li_07" style="text-decoration: none">
                        <a href="{% url "person:index" %}" style="text-decoration: none">我的博客</a>
                    </li>
                {% endif %}
                <li class="nav-item xs_li_07" style="text-decoration: none">
                    <a href="" style="text-decoration: none">留言板</a>
                </li>
                <li class="nav-item xs_li_07">
                    <a href="{% url 'blogs:about_me' %}" style="text-decoration: none;color: #ef4868">关于我</a>
                </li>
            </div>
            <div class="login-box">
                {% if not email %}
                    <a href="{% url 'verify:login'%}" class="item-text" style="text-decoration: none;color: #333">登录</a> /
                    <a href="{% url 'verify:register' %}" class="item-text" style="text-decoration: none;color: #333">注册</a>
                    {% else %}
                    <span style="color: gold;">
                        <i class="iconfont icon-celebration_party-cr" style="font-size: 22px"></i>
                    </span><a href="{% url 'person:index' %}" style="text-decoration: none;margin: 0 10px 0 5px">{{ uName.username }}</a>
                    <a href="{% url 'verify:secede' %}" style="text-decoration: none;color: green">
                        <i class="iconfont icon-yyexit" style="font-size: 22px;color: green;font-weight: 600"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>